ul {
    list-style: none;
}


ul li:hover {
    color: darkcyan;
    cursor: pointer;
}

ul li.selected {
    color:darkgreen;
    font-weight: bold;
}

.list-group-item-hover:hover {
    background-color: red;
}